<!doctype html>
<!--[if lt IE 9]>
<html class="old-browser no-js"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>ng-fabulous-forms example</title>
    <meta name="viewport"
          content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.css">

    <link rel="stylesheet"
          href="style.css">

</head>
<body>
<div class="container"
     ng-app="exampleApp"
     ng-controller="exampleCtrl as exampleCtrl">
    <a name="demo"></a>

    <h1>Demos</h1>
    <button ng-click="destroy()">Destroy</button>
    <button ng-click="setExample('simple')">simple</button>
    <button ng-click="setExample('ng-form')">ng-form</button>
    <button ng-click="setExample('advanced-validations')">advanced-validations</button>
    <button ng-click="setExample('custom-options')">custom-options</button>
    <button ng-click="setExample('plunkr')">plunkr</button>
    <button ng-click="setExample('special-cases')">special-cases</button>
    <button ng-click="setExample('long-form')">long-form</button>

    <div ng-init="exampleUrl='demos/custom-options.html'"
         ng-include="exampleUrl"
         class="example"></div>
</div>


<!-- /add ga tracking -->

<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<!-- endbower -->

<!-- build:js({.tmp,src}) ng-fab-form.min.js -->
<!-- fileblock:js module -->
<script src="_ng-fab-form.js"></script>
<script src="form-d.js"></script>
<script src="input-d.js"></script>
<script src="textarea-d.js"></script>
<script src="select-d.js"></script>
<script src="ng-fab-form-p.js"></script>
<script src="default-validation-msgs.js"></script>
<script src="ng-fab-form-validations-directive-f.js"></script>
<script src="ng-fab-match-d.js"></script>
<script src="ng-fab-ensure-expression-d.js"></script>
<script src="ng-fab-reset-form-on-d.js"></script>
<script src="ng-fab-form-directive-f.js"></script>
<script src="ng-form-d.js"></script>
<!-- endfileblock -->
<!-- endbuild -->

<!-- fileblock:js example -->
<script src="scripts/example.js"></script>
<!-- endfileblock -->

</body>
</html>
