<!doctype html>
<!--[if lt IE 9]>
<html class="old-browser no-js"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>ng-fabolous-forms example</title>
    <meta name="viewport"
          content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- bower:css -->
    <link rel="stylesheet"
          href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbower -->
    <link rel="stylesheet"
          href="style.css">

</head>
<body ng-app="exampleApp">
<div class="container"
     ng-controller="exampleCtrl">
    <h1>ng-fabulous-forms Example</h1>

    <div class="row">

        <div class="col-sm-6">
            <h3>Example Form</h3>

            <form class="form-horizontal"
                  role="form"
                  ng-fab-form
                  name="exampleForm"
                  ng-submit="submit()"
                  novalidate="">
                <div class="form-group">
                    <label class="control-label">Email (required)
                    </label>
                    <input type="email"
                           class="form-control"
                           placeholder="Email"
                           ng-model="formData.email"
                           required>
                </div>
                <div class="form-group">
                    <label class="control-label">Password (required)
                    </label>
                    <input type="password"
                           class="form-control"
                           id="inputPassword1"
                           placeholder="Password"
                           ng-model="formData.password"
                           required>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   required
                                   ng-model="formData.check">
                            Checkbox (required)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">ng-pattern (/asd/) & required
                    </label>
                    <input type="text"
                           class="form-control"
                           placeholder="TestText"
                           ng-pattern="/^asd$/i"
                           name="text"
                           required=""
                           ng-model="formData.patternRequired">
                </div>

                <div class="form-group">
                    <label class="control-label">required & maxlength(5) with validation-msg-required attribute
                    </label>
                    <input type="text"
                           class="form-control"
                           placeholder="TestText"
                           ng-maxlength="5"
                           required
                           validation-msg-required="CUSTOM REQUIRED-MSG FTW!"
                           ng-model="formData.requiredMaxlength">
                </div>

                <div class="form-group">
                    <label>non required</label>
                    <input type="text"
                           class="form-control"
                           placeholder="TestText"
                           ng-model="formData.nonRequired">
                </div>

                <div class="form-group">
                    <label>Textarea (required & ng-minlength(4))</label>
        <textarea ng-model="formData.textarea"
                  ng-minlength="4"
                  class="form-control"
                  required></textarea>
                </div>

                <div class="form-group">
                    <label>Select (required)</label>
                    <select ng-model="formData.select"
                            class="form-control"
                            required>
                        <option value=""></option>
                        <option value="aa">aaa</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Input without ngModel (does not do anything)</label>
                    <input type="text"
                           class="form-control"
                           placeholder="TestText"
                           required="">
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary">Submit Form
                    </button>
                </div>
            </form>

            <hr>
            <div class="form-group">
                <label>Input outside form (required) does/should not work</label>

                <input type="text"
                       class="form-control"
                       placeholder="TestText"
                       required=""
                       ng-model="aaatestText2">
            </div>

            <hr>


            <form name="form2"
                  ng-submit="submit()">
                <h4>Another Form</h4>

                <div class="form-group">
                    <label for="customName">Input outside form (required) does/should not work</label>

                    <input type="text"
                           class="form-control"
                           placeholder="TestText"
                           required=""
                           id="customName"
                           name="customName"
                           ng-model="otherForm">
                </div>
            </form>
        </div>


        <div class="col-sm-6">
            <h3>Config-Options</h3>
            <pre>{{ formOpt|json}}</pre>

            <h3>Form-Data</h3>
            <pre>{{ formData|json}}</pre>
            <h3>Form-Ctrl-Data</h3>
            <pre>{{ exampleForm|json}}</pre>
        </div>

    </div>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/jquery.bind-first/release/jquery.bind-first-0.2.3.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!-- endbower -->

<!-- build:js({.tmp,src}) ng-fab-form.js -->
<!-- fileblock:js module -->
<script src="_bs-auto-form.js"></script>
<script src="form-d.js"></script>
<script src="max-file-size-d.js"></script>
<script src="input-d.js"></script>
<script src="bs-auto-form-p.js"></script>
<script src="textarea-d.js"></script>
<script src="select-d.js"></script>
<script src="bs-auto-form-directive-f.js"></script>
<!-- endfileblock -->
<!-- endbuild -->
<!-- fileblock:js example -->
<script src="scripts/example1.js"></script>
<!-- endfileblock -->
</body>
</html>
