/* line 1, /home/johannes/www/ng-fab-form/src/styles/example */
.form-group {
  position: relative; }

/* line 5, /home/johannes/www/ng-fab-form/src/styles/example */
.anchor {
  display: none; }

/* line 9, /home/johannes/www/ng-fab-form/src/styles/example */
.main-header {
  background: #000;
  padding-bottom: 15px;
  color: #eee; }

/* line 15, /home/johannes/www/ng-fab-form/src/styles/example */
.main-header h1 {
  color: #eee; }

/* line 19, /home/johannes/www/ng-fab-form/src/styles/example */
p.header {
  font-style: italic; }

/* line 23, /home/johannes/www/ng-fab-form/src/styles/example */
.motto {
  font-size: 16px; }

/* line 27, /home/johannes/www/ng-fab-form/src/styles/example */
.help-block .list-unstyled {
  padding: 0;
  margin: 0;
  display: block; }

/* line 38, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
input, textarea, select {
  border-radius: 0 !important; }

/* line 42, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
.help-block {
  color: #fff;
  margin: 0;
  padding: 0 10px;
  position: relative;
  font-size: 14px;
  overflow: visible;
  background: #c00640; }
  /* line 43, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .help-block:after {
    clear: both; }
  /* line 56, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .help-block li {
    display: block;
    height: 20px;
    line-height: 20px;
    background: #c00640;
    position: absolute;
    right: -3.3333333333px;
    top: -10px;
    margin-right: 0;
    text-align: center;
    font-weight: bold;
    min-width: 20%;
    padding: 0 10px;
    color: #fff;
    z-index: 2;
    transform: rotate(0deg);
    transition: all ease-out 0.2s;
    transition-delay: 0s;
    opacity: 1; }
    /* line 76, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
    .help-block li.ng-enter {
      opacity: 0.1;
      transform: rotate(-10deg);
      margin-right: -20px;
      transition: all ease-in 0s; }
    /* line 82, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
    .help-block li.ng-leave {
      transition: all ease-in 0.5s;
      opacity: 0;
      transform: rotate(30deg); }
  /* line 90, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .ng-valid + .help-block:before {
    opacity: 0;
    position: absolute;
    right: -31px;
    bottom: -31px;
    font-size: 62px;
    width: 62px;
    height: 62px;
    line-height: 1;
    text-align: center;
    border-radius: 62px;
    z-index: 20;
    color: #62b14c;
    content: '✓';
    transform: rotate(0deg);
    transition: all ease-out 0.2s;
    transition-delay: 0s; }
  /* line 109, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .ng-valid + .help-block:before {
    opacity: 1 !important;
    opacity: 1; }
  /* line 113, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .ng-valid.ng-invalid + .help-block:before {
    opacity: 0 !important;
    opacity: 0; }
  /* line 119, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .help-block.ng-hide {
    display: block !important; }
    /* line 13, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
    .help-block.ng-hide li {
      opacity: 0; }
    /* line 31, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
    .help-block.ng-hide:before {
      display: block; }
  /* line 25, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  *:focus + .help-block li {
    display: block; }
  /* line 19, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  *:focus + .help-block:before {
    opacity: 0; }
  /* line 131, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  *:focus + .help-block li {
    background-color: #63bff8; }
  /* line 13, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  *:focus + .help-block.ng-hide li {
    opacity: 0; }
  /* line 31, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  *:focus + .help-block.ng-hide:before {
    display: block; }

/* line 145, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
.ng-hide-add.ng-hide-add-active * {
  opacity: 0.1;
  transform: rotate(-20deg);
  margin-right: -20px;
  transition: all ease-in 0s; }

/* line 153, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
.ng-hide-remove.ng-hide-remove-active * {
  opacity: 0.1;
  transform: rotate(-10deg);
  margin-right: -20px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  outline: 11px solid orange; }

@keyframes enter_sequence {
  /* line 165, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  from {
    opacity: 0; }

  /* line 168, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */