/* line 1, /home/johannes/www/ng-fab-form/src/styles/example */
.form-group {
  position: relative; }

/* line 5, /home/johannes/www/ng-fab-form/src/styles/example */
.anchor {
  display: none; }

/* line 9, /home/johannes/www/ng-fab-form/src/styles/example */
.main-header {
  background: #000;
  padding-bottom: 15px;
  color: #eee; }

/* line 15, /home/johannes/www/ng-fab-form/src/styles/example */
.main-header h1 {
  color: #eee; }

/* line 19, /home/johannes/www/ng-fab-form/src/styles/example */
p.header {
  font-style: italic; }

/* line 23, /home/johannes/www/ng-fab-form/src/styles/example */
.motto {
  font-size: 16px; }

/* line 27, /home/johannes/www/ng-fab-form/src/styles/example */
.help-block .list-unstyled {
  padding: 0;
  margin: 0;
  display: block; }

/* line 40, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
.help-block {
  color: #fff;
  margin: 0;
  padding: 0 10px;
  position: relative;
  font-size: 14px;
  overflow: visible;
  background: #c00640; }
  /* line 41, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .help-block:after {
    clear: both; }
  /* line 53, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .help-block li {
    display: block;
    height: 20px;
    line-height: 20px;
    background: #c00640;
    position: absolute;
    right: -3.3333333333px;
    top: -10px;
    margin-right: 0;
    text-align: center;
    font-weight: bold;
    min-width: 20%;
    padding: 0 10px;
    color: #fff;
    z-index: 2;
    transform: rotate(0deg);
    transition: all ease-out 0.2s;
    opacity: 1;
    transition-delay: 0s; }
    /* line 73, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
    .help-block li.ng-enter {
      transition-delay: 1s;
      opacity: 0;
      transform: rotate(-20deg);
      margin-right: -40px;
      transition: all ease-in 0s; }
    /* line 80, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
    .help-block li.ng-leave {
      transition: all ease-in 0s;
      opacity: 0; }
  /* line 87, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .ng-valid + .help-block:before {
    opacity: 0;
    display: block;
    position: absolute;
    right: -20px;
    bottom: -20px;
    font-size: 26.6666666667px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #62b14c;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    text-align: center;
    border-radius: 40px;
    z-index: 20;
    color: #62b14c;
    content: '\e013';
    font-family: 'Glyphicons Halflings'; }
  /* line 110, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .ng-valid.ng-invalid + .help-block:before {
    opacity: 0; }
  /* line 115, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  .help-block.ng-hide {
    display: block !important; }
    /* line 13, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
    .help-block.ng-hide li {
      display: none; }
    /* line 32, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
    .help-block.ng-hide:before {
      opacity: 1;
      transition: all ease-out 0.52s;
      transform: rotate(360deg);
      transition-delay: 0.3s; }
  /* line 19, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  *:focus + .help-block li {
    display: block; }
  /* line 126, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  *:focus + .help-block li {
    background-color: #63bff8; }
  /* line 13, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  *:focus + .help-block.ng-hide li {
    display: none; }
  /* line 32, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  *:focus + .help-block.ng-hide:before {
    opacity: 1;
    transition: all ease-out 0.52s;
    transform: rotate(360deg);
    transition-delay: 0.3s; }

/* line 141, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
input.ng-touched.ng-invalid:not(.ng-valid), textarea.ng-touched.ng-invalid:not(.ng-valid), select.ng-touched.ng-invalid:not(.ng-valid) {
  border-color: #c00640; }
/* line 145, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
input:focus, input:focus.ng-touched.ng-invalid:not(.ng-valid), textarea:focus, textarea:focus.ng-touched.ng-invalid:not(.ng-valid), select:focus, select:focus.ng-touched.ng-invalid:not(.ng-valid) {
  border-color: #63bff8; }
/* line 149, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
input.ng-valid-required.ng-valid:not(.ng-invalid), textarea.ng-valid-required.ng-valid:not(.ng-invalid), select.ng-valid-required.ng-valid:not(.ng-invalid) {
  border-color: #62b14c; }

/* line 156, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
.ng-hide-add.ng-hide-add-active * {
  opacity: 0.1;
  transform: rotate(-30deg);
  margin-right: -220px;
  transition: all ease-in 0s;
  transition-delay: 0s; }

/* line 165, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
.ng-hide-remove.ng-hide-remove-active li {
  opacity: 0.1;
  transform: rotate(-20deg);
  margin-right: -40px;
  transition: all ease-in 0s;
  transition-delay: 0s; }

/* line 173, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
form[class*="ng-invalid"] button.btn {
  background: #63bff8 !important; }
  /* line 176, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  form[class*="ng-invalid"] button.btn:after {
    opacity: 0;
    color: #63bff8; }

/* line 182, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
form button.btn {
  transition: all ease-in 0.5s;
  background: #62b14c;
  font-weight: bold !important; }
  /* line 186, /home/johannes/www/ng-fab-form/src/styles/validation-msg */
  form button.btn:after {
    border: 1px solid #3a6a2d;
    transition: all ease-in 0.5s;
    font-size: 11.4285714286px;
    background: #62b14c;
    width: 20px;
    margin-right: -9px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    z-index: 20;
    color: #62b14c;
    content: '\e013';
    font-family: 'Glyphicons Halflings';
    opacity: 1; }

/*# sourceMappingURL=style.css.map */