<!doctype html>
<!--[if lt IE 9]>
<html class="old-browser no-js"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>angular fabulous forms - ng-fab-form</title>
    <meta name="viewport"
          content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet"
          href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.css">

    <link rel="stylesheet"
          href="style.css">

    <style>
        .form-group {
            position: relative;
        }

        .anchor {
            display: none;
        }

        .main-header {
            background:     #000;
            padding-bottom: 15px;
            color:          #eee;
        }

        .main-header h1 {
            color: #eee;
        }

        p.header {
            font-style: italic;
        }

        .motto {
            font-size: 16px;
        }

        .help-block .list-unstyled {
            padding: 0;
            margin:  0;
            display: block;
        }

    </style>
</head>
<body>
<header class="main-header">
    <div class="container">

        <h1 class="header">angular fabulous forms - ng-fab-form</h1>
        <p class="header motto">Convenient forms for Angular with no extra markup? - Fabulous!</p>
        <a class="buttons btn btn-primary "
           href="https://github.com/johannesjo/ng-fab-form/zipball/master">
            <span class="octicon  octicon-cloud-download"></span> Download ZIP
            <span class="octicon  octicon-cloud-download"></span></a>

        <a class="buttons btn btn-primary "
           href="https://github.com/johannesjo/ng-fab-form/tarball/master">
            <span class="octicon  octicon-cloud-download"></span> Download TAR
            <span class="octicon  octicon-cloud-download"></span></a>

        <a class="buttons btn btn-primary  github"
           href="https://github.com/johannesjo/ng-fab-form"><span class="octicon  octicon-mark-github"></span> View On
            GitHub <span class="octicon  octicon-mark-github"></span></a>
        <a class="buttons btn btn-primary "
           href="#demo"><span class="octicon  octicon-squirrel"></span> Demo
            <span class="octicon  octicon-squirrel"></span></a>
        <a class="buttons btn btn-primary "
           href="#discussion"><span class="octicon  octicon-organization"></span> Discuss
            <span class="octicon  octicon-organization"></span></a>
        <p class="header"><br>This project is maintained by <a class="header name"
                                                               href="https://github.com/johannesjo">johannesjo</a></p>

        <a href="https://github.com/johannesjo/ng-fab-form"
           class="github-button"
           data-icon="octicon-star"
           data-count-href="/johannesjo/ng-fab-form/stargazers"
           data-count-api="/repos/johannesjo/ng-fab-form#stargazers_count">Star</a>
        <a href="https://github.com/johannesjo/ng-fab-form"
           class="github-button"
           data-icon="octicon-git-branch"
           data-count-href="/johannesjo/ng-fab-form/network"
           data-count-api="/repos/johannesjo/ng-fab-form#forks_count">Fork</a>
        <a href="https://github.com/johannesjo/ng-fab-form/issues"
           class="github-button"
           data-icon="octicon-issue-opened"
           data-count-api="/repos/johannesjo/ng-fab-form#open_issues_count">Issue</a>

        <script async
                defer
                id="github-bjs"
                src="https://buttons.github.io/buttons.js"></script>
    </div>
</header>

<div class="container">
    <h1 id="ng-fab-form">ng-fab-form</h1>
<p><em>Convenient forms for Angular with no extra markup? Fabulous!</em></p>
<p>AngularJS forms are pretty nice. But if you have worked with angular for a while, you&#39;ll find that the out of the box mechanics like the instant validation are far from perfect from the common users perspective. Furthermore you probably catch yourself declaring (and sometimes forgetting) the same stuff on and on again like giving a <code>novalidate</code> attribute, preventing submission for invalid forms or declaring a proper name attribute. </p>
<p>The most repitive part by far is validation. I understand why the angular-developers want to give us the freedom, of doing this stuff in the most flexible manner, but I personally like to keep things consistent, which is hard with how forms work out of the box.<code>ng-fab-form</code> tries solve all of those issues without requiring you to change anything. Just set your forms up as usual and let <code>ng-fab-form</code> do the rest for you. </p>
<p><a href="https://github.com/johannesjo/ng-fab-form/issues">Bug-reports or feature request</a> as well as any other kind of <strong>feedback is highly welcome!</strong></p>
<h2 id="getting-started">getting started</h2>
<p>Install it via bower</p>
<pre><code>bower install ng-fab-form angular-messages -S
</code></pre><p>and add <code>ngFabForm</code> and <code>ngMessages</code> as dependency in your main module:</p>
<pre><code>angular.module(&#39;yourApp&#39;,[
  &#39;ngFabForm&#39;,
  &#39;ngMessages&#39;
]);
</code></pre><p>That is all you need to do to get started.</p>
<h3 id="features">features</h3>
<p>Have a look at the <a href="http://johannesjo.github.io/ng-fab-form#demo">DEMO</a> or the <a href="http://plnkr.co/edit/8vCSPw?p=preview">plunkr</a>!</p>
<p>Keep in mind that if you don&#39;t like one of the functionalities, ng-fab-form is build with customization in mind. <strong>It&#39;s possible to disable almost any feature easily in your app configuration</strong>.</p>
<p>It automatically:</p>
<ul>
<li>appends configurable validation messages (using <code>ng-messages</code>, <a href="https://docs.angularjs.org/api/ngMessages/directive/ngMessages">see</a>) to any element  with a validation directive on it like <code>required</code>, <code>ng-required</code>, <code>ng-pattern</code>, <code>ng-minlength</code> and even new ones added</li>
<li>adds a validation directive in case you have an exception to the rule</li>
<li>adds <code>name</code> attributes based on ng-model, if none is set</li>
<li>adds a <code>novalidate</code> attribute to forms</li>
<li>prevents submission of invalid forms</li>
<li>adds an option to disable a form completly via a <code>disable-form</code> attribute</li>
<li>adds a trigger to show field validations after the user tries to submmit</li>
<li>prevents double submissions of forms when double clicked via a configurable delay</li>
<li>scrolls to and focusses the first form element with an error, if the submission fails</li>
<li>tries to set an asterisk to the corresponding label, if <code>required</code> or <code>ng-required</code> is set</li>
<li>should work with any custom validation directive you have running in your project (as long as they&#39;re correctly working with the ngModel-Controller)</li>
</ul>
<h2 id="why-choose-ng-fab-form-over-another-form-helper-module-">why choose ng-fab-form over another form helper module?</h2>
<p>There are a lot of <a href="https://github.com/search?o=desc&amp;q=angular+form&amp;s=stars&amp;type=Repositories&amp;utf8=%E2%9C%93">form builders and other modules with the intention of simplyfing form handling</a> out there. Why choose <code>ng-fab-form</code> then? First of all you likely will not have to choose one or the other as it should be compatible with every module using ngModel for validations and because you will probably be able to deactivate any conflicting functionalities (be sure to <a href="https://github.com/johannesjo/ng-fab-form/issues">report incompatibilties</a>). </p>
<p>The reason why <code>ng-fab-form</code> was build, is that the modules I tried either take only a small part of the reptiveness out of your job or they take a framework-like approach and you&#39;re becoming very dependent on them, the markup they require and spit out, the functionalities they introduce and probably more important, those they don&#39;t introduce and those who hinder other features. This is not necessarily a bad thing and they might greatly improve your productivity, but if some project is discontinued or you find out, that you need a functionality you won&#39;t we be able to implement without a significant investment and the project owner doesn&#39;t care about, you&#39;re stuck. Sure make a fork, but we all know how they usually don&#39;t evolve beyond the scale of the current project. </p>
<p>This is why <code>ng-fab-form</code> focusses on the basic angular functions and tries to extend them application-wide, while always giving you the option to throw out what doesn&#39;t fit in. Worst case scenario: You completely remove <code>ng-fab-form</code> because you don&#39;t like it and then you&#39;re back to standard angular, with probably almost no effort spend, almost no time wasted.</p>
<h2 id="manual-installation-and-dependencies">manual installation and dependencies</h2>
<p>Grab the minified <a href="https://github.com/johannesjo/ng-fab-form/blob/master/dist/ng-fab-form.min.js">ng-fab-form file</a> from the dist folder. You also need to install <a href="https://docs.angularjs.org/api/ngMessages/directive/ngMessages">ng-messags</a>, jQuery and <a href="https://github.com/private-face/jquery.bind-first">jquery.bind-first</a>. 
There might be a jQuery-independend version in the future, but for now it is much easier and also safer to just rely on exeternal sources, when it comes to cross-browser-event-handling.</p>
<h2 id="configuring-options">configuring options</h2>
<p>Currently the configuration object of ng-fab-forms looks like this:</p>
<pre><code>// validation template-url/templateId
// to disable validation completely set it false
template: &#39;default-validation-msgs.html&#39;,

// prevent submission of invalid forms
preventInvalidSubmit: true,

// prevent double clicks
preventDoubleSubmit: true,

// double click delay duration
preventDoubleSubmitTimeoutLength: 1000,

// show validation-messages on failed submit
setFormDirtyOnSubmit: true,

// autofocus first error-element
scrollToAndFocusFirstErrorOnSubmit: true,

// set either to fixed duration or to &#39;smooth&#39;
// &#39;smooth&#39; means that the duration is calculated,
// based on the distance to scroll (the more the faster it scrolls)
scrollAnimationTime: &#39;smooth&#39;,

// fixed offset for scroll to elment
scrollOffset: -100,

// option to disable forms by wrapping them in a disabled &lt;fieldset&gt; elment
disabledForms: true,

// add novalidate to forms
setNovalidate: true,

// set form-element names based on ngModel if not set
setNamesByNgModel: true,

// add asterisk to required fields
setAsteriskForRequiredLabel: false,

// asterisk string to be added if enabled
asteriskStr: &#39;*&#39;,

// event-name-space, usually you won&#39;t need to change anything here
eventNameSpace: &#39;ngFabForm&#39;,

// the validation message prefix, results for the default state
// `validation-msg-required` or `validation-msg-your-custom-validation`
validationMsgPrefix: &#39;validationMsg&#39;
</code></pre><p>You can easily extend those configurations like this:</p>
<pre><code class="lang-javascript">angular.module(&#39;exampleApp&#39;, [
    &#39;ngFabForm&#39;,
    &#39;ngMessages&#39;
])
    .config(function (ngFabFormProvider)
    {
        ngFabFormProvider.extendConfig({
            scrollToAndFocusFirstErrorOnSubmit: false,
            setNovalidate: false
        });
    });
</code></pre>
<h2 id="special-validations-e-g-ng-pattern-">special validations (e.g. ng-pattern)</h2>
<p>Sometimes you might want to have another text for a specifc context. Special validation-messages like this are easily added like this:</p>
<pre><code class="lang-html">&lt;input type=&quot;text&quot;
       ng-model=&quot;my-model&quot;
       ng-pattern=&quot;/abcdefg/&quot;
       validation-msg-pattern=&quot;Not abcdefg :(&quot;&gt;
</code></pre>
<h2 id="default-validations-and-creating-your-own-validation-template">default validations and creating your own validation template</h2>
<p><code>ng-fab-form</code> comes with a reasonable default validation template, which is used for every form element with <code>ng-model</code> set. But you can easily create your own if you don&#39;t like the either the messages or the markup! In your own template you can use any attribute and directive, as you would with vanilla angular. In addition the input-element attributes are available for you convenience, too!</p>
<p>This is what the default validation template looks like:</p>
<pre><code class="lang-html">&lt;!-- Default Validation Template --&gt;
&lt;div ng-messages=&quot;field.$error&quot;
     class=&quot;validation&quot;&gt;
     &lt;!-- Show errors for invalid fields, when it has been either focused, has been changed or the user tried to submit the form without success (requires the setDirtyOnSubmit-option to be set--&gt;
    &lt;ul class=&quot;list-unstyled validation-errors&quot;
        ng-show=&quot;field.$invalid &amp;&amp; (field.$touched || field.$dirty || form.$triedSubmit)&quot;&gt;
        &lt;li ng-message=&quot;required&quot;&gt;This field is required&lt;/li&gt;
        &lt;li ng-message=&quot;password&quot;&gt;This is not a valid password&lt;/li&gt;
        &lt;li ng-message=&quot;email&quot;&gt; This is not a valid email-address&lt;/li&gt;
        &lt;li ng-message=&quot;pattern&quot;&gt;Your input does not match the requirements&lt;/li&gt;
        &lt;li ng-message=&quot;date&quot;&gt;This is not a valid date&lt;/li&gt;
        &lt;li ng-message=&quot;time&quot;&gt;This is not a valid time&lt;/li&gt;
        &lt;li ng-message=&quot;datetime&quot;&gt; This is no valid datetime&lt;/li&gt;
        &lt;li ng-message=&quot;datetime-local&quot;&gt;This is no valid local datetime&lt;/li&gt;
        &lt;li ng-message=&quot;number&quot;&gt;This is no valid number&lt;/li&gt;
        &lt;li ng-message=&quot;color&quot;&gt;This no valid color&lt;/li&gt;
        &lt;li ng-message=&quot;range&quot;&gt;This is not a valid range&lt;/li&gt;
        &lt;li ng-message=&quot;month&quot;&gt;This is not a valid month&lt;/li&gt;
        &lt;li ng-message=&quot;url&quot;&gt;This is not a valid url&lt;/li&gt;
        &lt;li ng-message=&quot;file&quot;&gt;This not a valid file&lt;/li&gt;

        &lt;!-- ng-fab-form provides you with access to the input-element-attributes, allowing you to display their values inside of the message--&gt;
        &lt;li ng-message=&quot;minlength&quot;&gt;Your field should have at least {{ attrs.minlength }} characters&lt;/li&gt;
        &lt;li ng-message=&quot;maxlength&quot;&gt;Your field should have max {{ attrs.maxlength }} characters&lt;/li&gt;

        &lt;li ng-if=&quot;attrs.type == &#39;time&#39; &quot;
            ng-message=&quot;min&quot;&gt;The time provided should be no earlier than {{ attrs.min |date: &#39;HH:MM&#39; }}
        &lt;/li&gt;

        &lt;!-- you can use ng-if or ng-show for more advanced error messages --&gt;
        &lt;li ng-message=&quot;max&quot;
            ng-if=&quot;attrs.type == &#39;time&#39; &quot;&gt;The time should be no later than {{attrs.max |date: &#39;HH:MM&#39;}}
        &lt;/li&gt;
        &lt;li ng-message=&quot;min&quot;
            ng-if=&quot;attrs.type == &#39;date&#39; &quot;&gt;The date provided should be no earlier than then {{attrs.max
            |date:&#39;dd.MM.yy&#39;}}
        &lt;/li&gt;        
        &lt;li ng-message=&quot;max&quot;
            ng-if=&quot;attrs.type == &#39;date&#39; &quot;&gt;The time should be no later than {{attrs.max |date: &#39;dd.MM.yy&#39;}}
        &lt;/li&gt;
    &lt;/ul&gt;
    &lt;!-- It is also possible to show a success element using the standard form syntax --&gt;
    &lt;div class=&quot;validation-success&quot;
         ng-show=&quot;field.$valid &amp;&amp; !field.$invalid&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<p>To load you own validations simply set the template url in your configuration:</p>
<pre><code class="lang-javascript">angular.module(&#39;exampleApp&#39;, [
    &#39;ngFabForm&#39;,
    &#39;ngMessages&#39;
])
    .config(function (ngFabFormProvider)
    {
        ngFabFormProvider.extendConfig({
            validationsTemplate : &#39;path/to/your-fabulous-validation-template.html&#39;
        });
    });
</code></pre>
<h4 id="create-and-share">create and share</h4>
<p>You can use this <a href="http://plnkr.co/edit/wVW8ih?p=info">plunkr  as base for your fabulous creation</a>! Think you created something useful? Then share it!!! Either provide a pull-request or leave a comment on the <a href="http://johannesjo.github.io/ng-fab-form/">projects public page</a>. </p>
<p>If you provie a pull-reqest, please use a feature-branch. The commit should usually contain two files: A html template and a scss-file.</p>
<h2 id="advanced-configuration">advanced configuration</h2>
<p>You can edit where and how the messages are inserted in relation to their corresponding form-element:</p>
<pre><code class="lang-javascript">angular.module(&#39;exampleApp&#39;, [
    &#39;ngFabForm&#39;,
    &#39;ngAnimate&#39;
])
    .config(function (ngFabFormProvider)
    {
        var customInsertFn = function (compiledAlert, el, attrs)
            {
                // insert after or after parent if checkbox or radio
                if (attrs.type === &#39;checkbox&#39; || attrs.type === &#39;radio&#39;) {
                    el.parent().after(compiledAlert);
                } else {
                    el.after(compiledAlert);
                }
            };
        ngFabFormProvider.setInsertErrorTplFn(customInsertFn);
    });
</code></pre>
<h2 id="-contribute-">❤ contribute ❤</h2>
<p>I&#39;m happy for any <a href="https://github.com/johannesjo/ng-fab-form/issues">issue or feature request</a>, you might encounter or want to have. Even a one liner is better, than no feedback at all. Pull requests are also highly welcome. Just fork the repository, clone it and run <code>grunt serve</code> for development.</p>
<p><code>ng-fab-form</code> is published under the <a href="https://github.com/johannesjo/ng-fab-form/blob/master/LICENSE">The GNU Lesser General Public License V2.1</a>.</p>
<h2 id="-possible-fabulous-future-features">(possible) fabulous future features</h2>
<ul>
<li>themeable autowrappers for form elements: switch between bootstrap style forms, to semantic-ui, to foundation, to ionic and back.</li>
<li>grunt templating tasks</li>
<li>full unit and e2e testing</li>
<li>implement native javascript wherever possible</li>
<li>better documentation, e.g.: how to use and create vanilla angular <code>$validators</code></li>
<li>moularized grunt file structure</li>
<li><a href="https://github.com/johannesjo/ng-fab-form/issues">your feature request</a>!</li>
</ul>

</div>
<hr>
<div class="container"
     ng-app="exampleApp"
     ng-controller="exampleCtrl">
    <a name="demo"></a>

    <h1>Demos</h1>

    <h2>Plunkr</h2>

    <div class="example">
        <iframe src="http://embed.plnkr.co/8vCSPw/preview"
                style="width: 100%;min-height: 700px; border: none;"></iframe>
    </div>

    <div ng-include="'example1.html'"
         class="example"></div>
</div>

<div class="container">
    <a name="discussion"></a>

    <h2>Discussion</h2>
    <!-- Begin Super Simple Survey code for . -->

    <script src="http://www.supersimplesurvey.com/scripts/embed/1.0/survey.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        SuperSimpleSurvey.Init({
            survey_id: 10518,
            x: "right",
            y: "top",
            color: "blue"
        });
    </script>

    <!-- /End Super Simple Survey code -->

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ng-fab-form'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function ()
        {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>

</div>

<!-- add ga tracking -->
<script>
    (function (i, s, o, g, r, a, m)
    {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function ()
        {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-57233018-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- /add ga tracking -->

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/jquery.bind-first/release/jquery.bind-first-0.2.3.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->

<script src="ng-fab-form.min.js"></script>

<!-- fileblock:js example -->
<script src="scripts/example.js"></script>
<!-- endfileblock -->

</body>
</html>
