<h3>Advanced Validations</h3>

<form name="form2"
      ng-submit="submit()">
    <div class="form-group">
        <label for="customName">date (required, min=2014-01-02, max=2015-03-03)</label>
        <input type="date"
               class="form-control"
               placeholder="date"
               required=""
               min="2014-01-02"
               max="2015-03-03"
               ng-model="otherForm.date">
    </div>

    <div class="form-group">
        <label for="customName">date (required, min=15:55, max=17:00)</label>
        <input type="time"
               class="form-control"
               placeholder="time"
               required=""
               min="15:55"
               max="17:00"
               ng-model="otherForm.time">
    </div>


    <div class="form-group">
        <label for="customName">required</label>

        <input type="text"
               class="form-control"
               placeholder="TestText"
               required
               id="customName"
               name="customName"
               ng-model="otherForm.text">
    </div>
    <button type="submit"
            class="btn btn-primary">Submit Form
    </button>
</form>
