// variables
$c-success: #62b14c;
$c-error: #c00640;
$c-info: #63bff8;
$f-size: 14px;
$validation-wrapper-sel: '.validation';
$success-el-sel: '.validation-success';
$form-elements: 'input, textarea, select';
$success-size: 36px;
$ng-message-sel: 'li';
$ng-message-height: 20px;
$ng-message-padding: 2px 10px;

// important to prevent flicker
[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

// success element
#{$success-el-sel} {
    opacity: 1;
    display: block;
    position: absolute;
    right: -$success-size*0.2;
    bottom: -$success-size*0.2;
    font-size: $success-size*0.8;
    width: $success-size;
    height: $success-size;
    line-height: $success-size;
    text-align: center;
    border-radius: $success-size;
    color: $c-success;
    transition: transform ease-out 0.32s;

    &:after {
        display: block;
        content: '\e013';
        font-family: 'Glyphicons Halflings';
    }

    &.ng-hide {
        transition: none;
        opacity: 0;
        transform: rotate(360deg);
    }

    // don't show on remove and prevent flicker
    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-add {
        opacity: 0;
        transition: none;
    }
}

.ng-hide-remove #{$ng-message-sel} {
    opacity: 0;
}

#{$validation-wrapper-sel} {
    color: #fff;
    margin: 0;
    position: relative;
    font-size: $f-size;
    overflow: visible;
    background: $c-error;

    ul {
        display: block;
        overflow: hidden;
    }

    // child error
    #{$ng-message-sel} {
        display: block;
        line-height: 1;
        background: $c-error;
        position: absolute;
        right: -4px;
        top: -$ng-message-height/2;
        text-align: center;
        font-weight: bold;
        padding: $ng-message-padding;
        color: #fff;
        transform: rotate(0deg);
        transition: all ease-in 0.2s;
        transition-delay: 0s;

        &.ng-enter {
            opacity: 0;
            top: 0;
        }
        &.ng-enter-active {
            opacity: 1;
        }

        // don't show on remove and prevent flicker
        &.ng-leave {
            transition: none;
            opacity: 0;
            display: none;
        }
    }
    // focused elements
    *:focus + & {
        #{$ng-message-sel} {
            background-color: $c-info !important;
        }
    }
}

input,
textarea,
select {
    &.ng-touched.ng-invalid:not(.ng-valid) {
        border-color: $c-error;
    }
    &:focus,
    &:focus.ng-touched.ng-invalid:not(.ng-valid) {
        border-color: $c-info;
    }
    &.ng-valid-required {
        &.ng-valid:not(.ng-invalid) {
            border-color: $c-success;
        }
    }
}

form[class*="ng-invalid"] button.btn[type=submit] {
    background: $c-info;
    transition: none;
}

form button.btn[type=submit] {
    transition: all ease-in 0.5s;
    background: $c-success;
}

